<footer>
    <p>
        Design By : <strong>Farukh Irshad</strong>
        <a href="mailto: furukh454@gmail.com" id="contact-design" title="Click to send an email">
            <i class="fas fa-envelope"></i>
        </a>
    </p>
    
    <ul id="footer-menu">
        <li>
            <a href="/">
                About
            </a>
        </li>
        <li>
            <a href="/">
                Contact
            </a>
        </li>
    </ul>

</footer>