<header>
    <h3>
        <a href="/" style="color: white; text-decoration: none;">
            <%= title %>
        </a>
    </h3>

    <ul class="header-menu">
        <%  if(locals.user) {%>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/users/about">
                   About
                </a>
            </li>
            <li>
                <a href="/users/sign-out">Log Out</a>
            </li>
            <%}else{%>
                <li>
                    <a href="/users/sign-in"> Sign In </a>
                </li>
                <li>
                    <a href="/users/sign-up">Sign Up</a>               
                </li>
                <% } %>
    </ul>
</header>