<link rel="stylesheet" href="/css/home.css">

<main>
    <h1>
        Welcome to Codeial | Home Page
    </h1>
    <% if(!locals.user){%>
        <%- include('signup'); %>   
    <%} %>
    
</main>

    