<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
    </head>
    <body>
        <%- include('_header'); %>
        <!-- this is where the variable part of different webpages will be rendered -->
        <%- body %>
        <%- include('_footer'); %>
    </body>
</html>