<link rel="stylesheet" href="/css/signup.css">

<form action="/users/create" method="POST">
    <h2>Sign Up</h2>

    Username    <input type="text" name="username" required>
    E-mail      <input type="email" name="email" required>
    Password    <input type="password" name="password" required>
    Confirm Password <input type="password" name="confirmPassword" required>

    <input type="submit" value="Sign Up">
    <h5>Already Registered? <a href="">Log In </a> here.</h5>

</form>




