li{
    list-style: none;
}

#comment-form{
    box-sizing: border-box;
    width : 100%;
    min-height : 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    input[type="text"]{
        flex-grow: 1;
        height : 4em;
        border-radius : 1em;
        margin-right : 10px;
        border : 1px solid slategray;
        padding : 5px;

        &::placeholder{
            color : white;
        }

        &:focus{
            outline: none;
        }
    }

    input[type="submit"]{
        height : 2em; 
        width : 9em;
        border-radius : 1em;
        font-weight : bold;
        font-size : .9em;  
        cursor : pointer;
        background-color : slategray;
    }
}

#post-content{
    font-size : 1.2em;
    display : flex; 
    flex-direction : column;
    justify-content: space-between;
    align-items: space-around;

    p{
        margin : 10px 0px; 
        min-height : 80px;
        background-color : rgba(80, 78, 78, 0.616);
        border-radius : 1em;
        padding : 5px 15px;
    }

    #post-reactions{
        display : flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom : 15px;
        padding : 0px 40px; 

        a{
            color : white;
            text-decoration: none;
            margin-right : 8em;
        }
    }
}

.post-comments-list{
    ul{
        li{
            padding-left: 50px;
        }
    }
}