<div>
    <p>
        Hi! <%= comment.user.username %>
    </p>
    <br><br>
    <p>
        Your Comment <strong>  <%= comment.content %> </strong> just got published in Codeial
    </p>
    <br><br>
    <p>
        Thank You!
    </p>
</div>